<div class="container">
    <h2 class="text-center">Created with Memory Mapper</h2>
    <br />
</div>
</div>

{% for item in site.data.projects %}
<div class="jumbotron jumbotron-fluid project_header" style="background-image: url({{ item.thumbnail }}); background-size: cover; background-attachment: fixed;">
    <div class="container-fluid">
    </div>
</div>
<div class="container">
    <a href="{{ item.link }}"><h3 class="text-center">{{ item.name }}</h3></a>
    <p>{{ item.strapline }}</p>
    <br />
</div>

{% endfor %}