<div class="container">
    <h2 class="text-center">Created with Memory Mapper</h2>
    <br />
</div>
</div>

<div class="container-fluid">
    <div class="row">
    {% for item in site.data.projects %}
    <div class="col-4"> 
        <a href="{{ item.link }}"><img src="{{ item.thumbnail }}" class="img-fluid rounded"></a>
        <hr />
        <a href="{{ item.link }}"><h4>{{ item.name }}</h4></a>
        <p>{{ item.strapline }}</p>
        <br />
    </div>

    {% endfor %}
    </div>
</div>
